<div
  [routerLink]="['/details', post?.id]"
  class="relative w-auto bg-white rounded-lg shadow-sm overflow-hidden"
>
  <div class="w-full flex items-center justify-between">
    <span
      [status]="post?.status || ''"
      class="absolute z-10 top-4 left-4 text-white font-bold text-xs px-2 py-1 rounded-full"
      >${{ post?.price || 0 | number : '1.0' }} / MO</span
    >
    <span
      class="absolute z-10 top-4 text-gray-400 right-4 text-xl cursor-pointer"
      [ngClass]="{ 'text-yellow-400': post?.isFavorite }"
      (click)="onFavorite($event)"
      >&#9733;</span
    >
  </div>
  <img
    class="w-full h-48 object-cover custom-clip"
    [src]="post?.image"
    alt="Travel Image"
  />
  <div class="p-4">
    <div class="w-full">
      <h2
        [routerLink]="['/details', post?.id]"
        class="mt-2 text-xl font-extrabold text-[#161B2D] hover:text-blue-600 hover:cursor-pointer truncate"
      >
        {{ post?.title }}
      </h2>
    </div>
    <p class="mt-1 text-[#6B7C93] truncate">
      {{ post?.description }}
    </p>

    <div class="divide my-4"></div>

    <div class="flex items-center mt-4">
      <img
        class="w-10 h-10 object-cover rounded-full"
        [src]="post?.author?.avatar"
        height="60"
        width="60"
        er
        alt="Profile Image"
      />
      <div class="w-full mx-3 flex justify-between">
        <h3 class="text-sm font-bold text-[#6B7C93]">
          {{ post?.author?.name }} {{ post?.author?.lastname }}
        </h3>
        <div class="flex flex-row">
          @if (isLogged) {
          <button
            type="button"
            (click)="onEdit($event)"
            class="-mt-1 text-xs font-medium text-gray-700 border border-white hover:border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-500 rounded-full p-1 text-center inline-flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
              />
            </svg>
            <span class="sr-only">Icon description</span>
          </button>

          <button
            type="button"
            (click)="onDelete($event)"
            class="-mt-1 pr-2 text-xs font-medium text-gray-700 border border-white hover:border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-500 rounded-full p-1 text-center inline-flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>

            <span class="sr-only">Icon description</span>
          </button>
          <div class="border-l-2 pl-2 border-l-gray-150"></div>
          }
          <p class="text-sm font-bold text-[#6B7C93]">
            {{ post?.date | date : 'MMMM d' | uppercase }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
