<div class="pt-32 max-w-screen-xl flex flex-col items-center mx-auto">
  <div class="w-full">
    <!-- SERACH BAR SECTION -->
    <app-searchbar />
    <!-- -------------------  -->

    <!-- CONTENT SECTION -->
    <router-outlet></router-outlet>
    <!-- -------------------  -->

    <!-- LOAD MORE SECTION -->
    <div class="w-full mt-8 flex justify-center">
      <button
        class="w-6/12 flex justify-between bg-transparent text-blue-700 font-bold py-2 px-4 border border-blue-100 hover:border-blue-400 rounded"
      >
        <div></div>
        Load More
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
          />
        </svg>
      </button>
    </div>
    <!-- -------------------  -->

    <!-- COPY RIGHT SECTION -->
    <div class="w-full mt-16 mb-8 flex justify-center">
      <p class="text-[#000000] font-normal">
        Landkit. © all rights reserved 2021
      </p>
    </div>
    <!-- -------------------  -->
  </div>
</div>
