<div class="pt-32 max-w-screen-xl flex flex-col items-center mx-auto">
  <div class="w-full">
    <!-- SERACH BAR SECTION -->
    <app-searchbar />
    <!-- -------------------  -->

    <!-- CONTENT SECTION -->
    <router-outlet></router-outlet>
    <!-- -------------------  -->

    <!-- COPY RIGHT SECTION -->
    <div class="w-full mt-16 mb-8 flex justify-center">
      <p class="text-[#000000] font-normal">
        Landkit. © all rights reserved 2021
      </p>
    </div>
    <!-- -------------------  -->
  </div>

  <app-modal />
</div>
